/* TODO: remix cannot import css? */
/* thus copy paste of https://github.com/hi-ogawa/unocss-preset-antd/blob/c7800ea95423d2371d9d1b76a3b347431be00bdb/packages/lib/src/reset.css */
/* and run `npx unocss ./app/styles/antd-reset.css` */

:root {
  color-scheme: light;
  --antd-blue: #1677ff;
  --antd-purple: #722ed1;
  --antd-cyan: #13c2c2;
  --antd-green: #52c41a;
  --antd-magenta: #eb2f96;
  --antd-pink: #eb2f96;
  --antd-red: #f5222d;
  --antd-orange: #fa8c16;
  --antd-yellow: #fadb14;
  --antd-volcano: #fa541c;
  --antd-geekblue: #2f54eb;
  --antd-gold: #faad14;
  --antd-lime: #a0d911;
  --antd-colorPrimary: #1677ff;
  --antd-colorSuccess: #52c41a;
  --antd-colorWarning: #faad14;
  --antd-colorError: #ff4d4f;
  --antd-colorInfo: #1677ff;
  --antd-colorTextBase: #000;
  --antd-colorBgBase: #fff;
  --antd-fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --antd-fontSize: 14;
  --antd-lineWidth: 1;
  --antd-lineType: solid;
  --antd-motionUnit: 0.1;
  --antd-motionBase: 0;
  --antd-motionEaseOutCirc: cubic-bezier(0.08, 0.82, 0.17, 1);
  --antd-motionEaseInOutCirc: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --antd-motionEaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
  --antd-motionEaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
  --antd-motionEaseOutBack: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --antd-motionEaseInBack: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --antd-motionEaseInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --antd-motionEaseOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --antd-borderRadius: 6;
  --antd-sizeUnit: 4;
  --antd-sizeStep: 4;
  --antd-sizePopupArrow: 16;
  --antd-controlHeight: 32;
  --antd-zIndexBase: 0;
  --antd-zIndexPopupBase: 1000;
  --antd-opacityImage: 1;
  --antd-wireframe: false;
  --antd-blue-1: #e6f4ff;
  --antd-blue-2: #bae0ff;
  --antd-blue-3: #91caff;
  --antd-blue-4: #69b1ff;
  --antd-blue-5: #4096ff;
  --antd-blue-6: #1677ff;
  --antd-blue-7: #0958d9;
  --antd-blue-8: #003eb3;
  --antd-blue-9: #002c8c;
  --antd-blue-10: #001d66;
  --antd-purple-1: #f9f0ff;
  --antd-purple-2: #efdbff;
  --antd-purple-3: #d3adf7;
  --antd-purple-4: #b37feb;
  --antd-purple-5: #9254de;
  --antd-purple-6: #722ed1;
  --antd-purple-7: #531dab;
  --antd-purple-8: #391085;
  --antd-purple-9: #22075e;
  --antd-purple-10: #120338;
  --antd-cyan-1: #e6fffb;
  --antd-cyan-2: #b5f5ec;
  --antd-cyan-3: #87e8de;
  --antd-cyan-4: #5cdbd3;
  --antd-cyan-5: #36cfc9;
  --antd-cyan-6: #13c2c2;
  --antd-cyan-7: #08979c;
  --antd-cyan-8: #006d75;
  --antd-cyan-9: #00474f;
  --antd-cyan-10: #002329;
  --antd-green-1: #f6ffed;
  --antd-green-2: #d9f7be;
  --antd-green-3: #b7eb8f;
  --antd-green-4: #95de64;
  --antd-green-5: #73d13d;
  --antd-green-6: #52c41a;
  --antd-green-7: #389e0d;
  --antd-green-8: #237804;
  --antd-green-9: #135200;
  --antd-green-10: #092b00;
  --antd-magenta-1: #fff0f6;
  --antd-magenta-2: #ffd6e7;
  --antd-magenta-3: #ffadd2;
  --antd-magenta-4: #ff85c0;
  --antd-magenta-5: #f759ab;
  --antd-magenta-6: #eb2f96;
  --antd-magenta-7: #c41d7f;
  --antd-magenta-8: #9e1068;
  --antd-magenta-9: #780650;
  --antd-magenta-10: #520339;
  --antd-pink-1: #fff0f6;
  --antd-pink-2: #ffd6e7;
  --antd-pink-3: #ffadd2;
  --antd-pink-4: #ff85c0;
  --antd-pink-5: #f759ab;
  --antd-pink-6: #eb2f96;
  --antd-pink-7: #c41d7f;
  --antd-pink-8: #9e1068;
  --antd-pink-9: #780650;
  --antd-pink-10: #520339;
  --antd-red-1: #fff1f0;
  --antd-red-2: #ffccc7;
  --antd-red-3: #ffa39e;
  --antd-red-4: #ff7875;
  --antd-red-5: #ff4d4f;
  --antd-red-6: #f5222d;
  --antd-red-7: #cf1322;
  --antd-red-8: #a8071a;
  --antd-red-9: #820014;
  --antd-red-10: #5c0011;
  --antd-orange-1: #fff7e6;
  --antd-orange-2: #ffe7ba;
  --antd-orange-3: #ffd591;
  --antd-orange-4: #ffc069;
  --antd-orange-5: #ffa940;
  --antd-orange-6: #fa8c16;
  --antd-orange-7: #d46b08;
  --antd-orange-8: #ad4e00;
  --antd-orange-9: #873800;
  --antd-orange-10: #612500;
  --antd-yellow-1: #feffe6;
  --antd-yellow-2: #ffffb8;
  --antd-yellow-3: #fffb8f;
  --antd-yellow-4: #fff566;
  --antd-yellow-5: #ffec3d;
  --antd-yellow-6: #fadb14;
  --antd-yellow-7: #d4b106;
  --antd-yellow-8: #ad8b00;
  --antd-yellow-9: #876800;
  --antd-yellow-10: #614700;
  --antd-volcano-1: #fff2e8;
  --antd-volcano-2: #ffd8bf;
  --antd-volcano-3: #ffbb96;
  --antd-volcano-4: #ff9c6e;
  --antd-volcano-5: #ff7a45;
  --antd-volcano-6: #fa541c;
  --antd-volcano-7: #d4380d;
  --antd-volcano-8: #ad2102;
  --antd-volcano-9: #871400;
  --antd-volcano-10: #610b00;
  --antd-geekblue-1: #f0f5ff;
  --antd-geekblue-2: #d6e4ff;
  --antd-geekblue-3: #adc6ff;
  --antd-geekblue-4: #85a5ff;
  --antd-geekblue-5: #597ef7;
  --antd-geekblue-6: #2f54eb;
  --antd-geekblue-7: #1d39c4;
  --antd-geekblue-8: #10239e;
  --antd-geekblue-9: #061178;
  --antd-geekblue-10: #030852;
  --antd-gold-1: #fffbe6;
  --antd-gold-2: #fff1b8;
  --antd-gold-3: #ffe58f;
  --antd-gold-4: #ffd666;
  --antd-gold-5: #ffc53d;
  --antd-gold-6: #faad14;
  --antd-gold-7: #d48806;
  --antd-gold-8: #ad6800;
  --antd-gold-9: #874d00;
  --antd-gold-10: #613400;
  --antd-lime-1: #fcffe6;
  --antd-lime-2: #f4ffb8;
  --antd-lime-3: #eaff8f;
  --antd-lime-4: #d3f261;
  --antd-lime-5: #bae637;
  --antd-lime-6: #a0d911;
  --antd-lime-7: #7cb305;
  --antd-lime-8: #5b8c00;
  --antd-lime-9: #3f6600;
  --antd-lime-10: #254000;
  --antd-colorText: rgba(0, 0, 0, 0.88);
  --antd-colorTextSecondary: rgba(0, 0, 0, 0.65);
  --antd-colorTextTertiary: rgba(0, 0, 0, 0.45);
  --antd-colorTextQuaternary: rgba(0, 0, 0, 0.25);
  --antd-colorFill: rgba(0, 0, 0, 0.15);
  --antd-colorFillSecondary: rgba(0, 0, 0, 0.06);
  --antd-colorFillTertiary: rgba(0, 0, 0, 0.04);
  --antd-colorFillQuaternary: rgba(0, 0, 0, 0.02);
  --antd-colorBgLayout: #f5f5f5;
  --antd-colorBgContainer: #ffffff;
  --antd-colorBgElevated: #ffffff;
  --antd-colorBgSpotlight: rgba(0, 0, 0, 0.85);
  --antd-colorBorder: #d9d9d9;
  --antd-colorBorderSecondary: #f0f0f0;
  --antd-colorPrimaryBg: #e6f4ff;
  --antd-colorPrimaryBgHover: #bae0ff;
  --antd-colorPrimaryBorder: #91caff;
  --antd-colorPrimaryBorderHover: #69b1ff;
  --antd-colorPrimaryHover: #4096ff;
  --antd-colorPrimaryActive: #0958d9;
  --antd-colorPrimaryTextHover: #4096ff;
  --antd-colorPrimaryText: #1677ff;
  --antd-colorPrimaryTextActive: #0958d9;
  --antd-colorSuccessBg: #f6ffed;
  --antd-colorSuccessBgHover: #d9f7be;
  --antd-colorSuccessBorder: #b7eb8f;
  --antd-colorSuccessBorderHover: #95de64;
  --antd-colorSuccessHover: #95de64;
  --antd-colorSuccessActive: #389e0d;
  --antd-colorSuccessTextHover: #73d13d;
  --antd-colorSuccessText: #52c41a;
  --antd-colorSuccessTextActive: #389e0d;
  --antd-colorErrorBg: #fff2f0;
  --antd-colorErrorBgHover: #fff1f0;
  --antd-colorErrorBorder: #ffccc7;
  --antd-colorErrorBorderHover: #ffa39e;
  --antd-colorErrorHover: #ff7875;
  --antd-colorErrorActive: #d9363e;
  --antd-colorErrorTextHover: #ff7875;
  --antd-colorErrorText: #ff4d4f;
  --antd-colorErrorTextActive: #d9363e;
  --antd-colorWarningBg: #fffbe6;
  --antd-colorWarningBgHover: #fff1b8;
  --antd-colorWarningBorder: #ffe58f;
  --antd-colorWarningBorderHover: #ffd666;
  --antd-colorWarningHover: #ffd666;
  --antd-colorWarningActive: #d48806;
  --antd-colorWarningTextHover: #ffc53d;
  --antd-colorWarningText: #faad14;
  --antd-colorWarningTextActive: #d48806;
  --antd-colorInfoBg: #e6f4ff;
  --antd-colorInfoBgHover: #bae0ff;
  --antd-colorInfoBorder: #91caff;
  --antd-colorInfoBorderHover: #69b1ff;
  --antd-colorInfoHover: #69b1ff;
  --antd-colorInfoActive: #0958d9;
  --antd-colorInfoTextHover: #4096ff;
  --antd-colorInfoText: #1677ff;
  --antd-colorInfoTextActive: #0958d9;
  --antd-colorBgMask: rgba(0, 0, 0, 0.45);
  --antd-colorWhite: #fff;
  --antd-fontSizeSM: 12;
  --antd-fontSizeLG: 16;
  --antd-fontSizeXL: 20;
  --antd-fontSizeHeading1: 38;
  --antd-fontSizeHeading2: 30;
  --antd-fontSizeHeading3: 24;
  --antd-fontSizeHeading4: 20;
  --antd-fontSizeHeading5: 16;
  --antd-lineHeight: 1.5714285714285714;
  --antd-lineHeightLG: 1.5;
  --antd-lineHeightSM: 1.6666666666666667;
  --antd-lineHeightHeading1: 1.2105263157894737;
  --antd-lineHeightHeading2: 1.2666666666666666;
  --antd-lineHeightHeading3: 1.3333333333333333;
  --antd-lineHeightHeading4: 1.4;
  --antd-lineHeightHeading5: 1.5;
  --antd-sizeXXL: 48;
  --antd-sizeXL: 32;
  --antd-sizeLG: 24;
  --antd-sizeMD: 20;
  --antd-sizeMS: 16;
  --antd-size: 16;
  --antd-sizeSM: 12;
  --antd-sizeXS: 8;
  --antd-sizeXXS: 4;
  --antd-controlHeightSM: 24;
  --antd-controlHeightXS: 16;
  --antd-controlHeightLG: 40;
  --antd-motionDurationFast: 0.1s;
  --antd-motionDurationMid: 0.2s;
  --antd-motionDurationSlow: 0.3s;
  --antd-lineWidthBold: 2;
  --antd-borderRadiusXS: 2;
  --antd-borderRadiusSM: 4;
  --antd-borderRadiusLG: 8;
  --antd-borderRadiusOuter: 4;
  --antd-colorLink: #1677ff;
  --antd-colorLinkHover: #69b1ff;
  --antd-colorLinkActive: #0958d9;
  --antd-colorFillContent: rgba(0, 0, 0, 0.06);
  --antd-colorFillContentHover: rgba(0, 0, 0, 0.15);
  --antd-colorFillAlter: rgba(0, 0, 0, 0.02);
  --antd-colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
  --antd-colorBorderBg: #ffffff;
  --antd-colorSplit: rgba(5, 5, 5, 0.06);
  --antd-colorTextPlaceholder: rgba(0, 0, 0, 0.25);
  --antd-colorTextDisabled: rgba(0, 0, 0, 0.25);
  --antd-colorTextHeading: rgba(0, 0, 0, 0.88);
  --antd-colorTextLabel: rgba(0, 0, 0, 0.65);
  --antd-colorTextDescription: rgba(0, 0, 0, 0.45);
  --antd-colorTextLightSolid: #fff;
  --antd-colorHighlight: #ff4d4f;
  --antd-colorBgTextHover: rgba(0, 0, 0, 0.06);
  --antd-colorBgTextActive: rgba(0, 0, 0, 0.15);
  --antd-colorIcon: rgba(0, 0, 0, 0.45);
  --antd-colorIconHover: rgba(0, 0, 0, 0.88);
  --antd-colorErrorOutline: rgba(255, 38, 5, 0.06);
  --antd-colorWarningOutline: rgba(255, 215, 5, 0.1);
  --antd-fontSizeIcon: 12;
  --antd-controlOutlineWidth: 2;
  --antd-controlInteractiveSize: 16;
  --antd-controlItemBgHover: rgba(0, 0, 0, 0.04);
  --antd-controlItemBgActive: #e6f4ff;
  --antd-controlItemBgActiveHover: #bae0ff;
  --antd-controlItemBgActiveDisabled: rgba(0, 0, 0, 0.15);
  --antd-controlTmpOutline: rgba(0, 0, 0, 0.02);
  --antd-controlOutline: rgba(5, 145, 255, 0.1);
  --antd-fontWeightStrong: 600;
  --antd-opacityLoading: 0.65;
  --antd-linkDecoration: none;
  --antd-linkHoverDecoration: none;
  --antd-linkFocusDecoration: none;
  --antd-controlPaddingHorizontal: 12;
  --antd-controlPaddingHorizontalSM: 8;
  --antd-paddingXXS: 4;
  --antd-paddingXS: 8;
  --antd-paddingSM: 12;
  --antd-padding: 16;
  --antd-paddingMD: 20;
  --antd-paddingLG: 24;
  --antd-paddingXL: 32;
  --antd-paddingContentHorizontalLG: 24;
  --antd-paddingContentVerticalLG: 16;
  --antd-paddingContentHorizontal: 16;
  --antd-paddingContentVertical: 12;
  --antd-paddingContentHorizontalSM: 16;
  --antd-paddingContentVerticalSM: 8;
  --antd-marginXXS: 4;
  --antd-marginXS: 8;
  --antd-marginSM: 12;
  --antd-margin: 16;
  --antd-marginMD: 20;
  --antd-marginLG: 24;
  --antd-marginXL: 32;
  --antd-marginXXL: 48;
  --antd-boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --antd-boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-screenXS: 480;
  --antd-screenXSMin: 480;
  --antd-screenXSMax: 575;
  --antd-screenSM: 576;
  --antd-screenSMMin: 576;
  --antd-screenSMMax: 767;
  --antd-screenMD: 768;
  --antd-screenMDMin: 768;
  --antd-screenMDMax: 991;
  --antd-screenLG: 992;
  --antd-screenLGMin: 992;
  --antd-screenLGMax: 1199;
  --antd-screenXL: 1200;
  --antd-screenXLMin: 1200;
  --antd-screenXLMax: 1599;
  --antd-screenXXL: 1600;
  --antd-screenXXLMin: 1600;
  --antd-boxShadowPopoverArrow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  --antd-boxShadowCard: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  --antd-boxShadowDrawerRight: -6px 0 16px 0 rgba(0, 0, 0, 0.08),
    -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerLeft: 6px 0 16px 0 rgba(0, 0, 0, 0.08),
    3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerUp: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerDown: 0 -6px 16px 0 rgba(0, 0, 0, 0.08),
    0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowTabsOverflowLeft: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowRight: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowTop: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowBottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}

.dark {
  color-scheme: dark;
  --antd-blue: #1677ff;
  --antd-purple: #722ed1;
  --antd-cyan: #13c2c2;
  --antd-green: #52c41a;
  --antd-magenta: #eb2f96;
  --antd-pink: #eb2f96;
  --antd-red: #f5222d;
  --antd-orange: #fa8c16;
  --antd-yellow: #fadb14;
  --antd-volcano: #fa541c;
  --antd-geekblue: #2f54eb;
  --antd-gold: #faad14;
  --antd-lime: #a0d911;
  --antd-colorPrimary: #1668dc;
  --antd-colorSuccess: #49aa19;
  --antd-colorWarning: #d89614;
  --antd-colorError: #dc4446;
  --antd-colorInfo: #1668dc;
  --antd-colorTextBase: #fff;
  --antd-colorBgBase: #000;
  --antd-fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --antd-fontSize: 14;
  --antd-lineWidth: 1;
  --antd-lineType: solid;
  --antd-motionUnit: 0.1;
  --antd-motionBase: 0;
  --antd-motionEaseOutCirc: cubic-bezier(0.08, 0.82, 0.17, 1);
  --antd-motionEaseInOutCirc: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --antd-motionEaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
  --antd-motionEaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
  --antd-motionEaseOutBack: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --antd-motionEaseInBack: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --antd-motionEaseInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --antd-motionEaseOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --antd-borderRadius: 6;
  --antd-sizeUnit: 4;
  --antd-sizeStep: 4;
  --antd-sizePopupArrow: 16;
  --antd-controlHeight: 32;
  --antd-zIndexBase: 0;
  --antd-zIndexPopupBase: 1000;
  --antd-opacityImage: 1;
  --antd-wireframe: false;
  --antd-blue-1: #111a2c;
  --antd-blue-2: #112545;
  --antd-blue-3: #15325b;
  --antd-blue-4: #15417e;
  --antd-blue-5: #1554ad;
  --antd-blue-6: #1668dc;
  --antd-blue-7: #3c89e8;
  --antd-blue-8: #65a9f3;
  --antd-blue-9: #8dc5f8;
  --antd-blue-10: #b7dcfa;
  --antd-purple-1: #1a1325;
  --antd-purple-2: #24163a;
  --antd-purple-3: #301c4d;
  --antd-purple-4: #3e2069;
  --antd-purple-5: #51258f;
  --antd-purple-6: #642ab5;
  --antd-purple-7: #854eca;
  --antd-purple-8: #ab7ae0;
  --antd-purple-9: #cda8f0;
  --antd-purple-10: #ebd7fa;
  --antd-cyan-1: #112123;
  --antd-cyan-2: #113536;
  --antd-cyan-3: #144848;
  --antd-cyan-4: #146262;
  --antd-cyan-5: #138585;
  --antd-cyan-6: #13a8a8;
  --antd-cyan-7: #33bcb7;
  --antd-cyan-8: #58d1c9;
  --antd-cyan-9: #84e2d8;
  --antd-cyan-10: #b2f1e8;
  --antd-green-1: #162312;
  --antd-green-2: #1d3712;
  --antd-green-3: #274916;
  --antd-green-4: #306317;
  --antd-green-5: #3c8618;
  --antd-green-6: #49aa19;
  --antd-green-7: #6abe39;
  --antd-green-8: #8fd460;
  --antd-green-9: #b2e58b;
  --antd-green-10: #d5f2bb;
  --antd-magenta-1: #291321;
  --antd-magenta-2: #40162f;
  --antd-magenta-3: #551c3b;
  --antd-magenta-4: #75204f;
  --antd-magenta-5: #a02669;
  --antd-magenta-6: #cb2b83;
  --antd-magenta-7: #e0529c;
  --antd-magenta-8: #f37fb7;
  --antd-magenta-9: #f8a8cc;
  --antd-magenta-10: #fad2e3;
  --antd-pink-1: #291321;
  --antd-pink-2: #40162f;
  --antd-pink-3: #551c3b;
  --antd-pink-4: #75204f;
  --antd-pink-5: #a02669;
  --antd-pink-6: #cb2b83;
  --antd-pink-7: #e0529c;
  --antd-pink-8: #f37fb7;
  --antd-pink-9: #f8a8cc;
  --antd-pink-10: #fad2e3;
  --antd-red-1: #2a1215;
  --antd-red-2: #431418;
  --antd-red-3: #58181c;
  --antd-red-4: #791a1f;
  --antd-red-5: #a61d24;
  --antd-red-6: #d32029;
  --antd-red-7: #e84749;
  --antd-red-8: #f37370;
  --antd-red-9: #f89f9a;
  --antd-red-10: #fac8c3;
  --antd-orange-1: #2b1d11;
  --antd-orange-2: #442a11;
  --antd-orange-3: #593815;
  --antd-orange-4: #7c4a15;
  --antd-orange-5: #aa6215;
  --antd-orange-6: #d87a16;
  --antd-orange-7: #e89a3c;
  --antd-orange-8: #f3b765;
  --antd-orange-9: #f8cf8d;
  --antd-orange-10: #fae3b7;
  --antd-yellow-1: #2b2611;
  --antd-yellow-2: #443b11;
  --antd-yellow-3: #595014;
  --antd-yellow-4: #7c6e14;
  --antd-yellow-5: #aa9514;
  --antd-yellow-6: #d8bd14;
  --antd-yellow-7: #e8d639;
  --antd-yellow-8: #f3ea62;
  --antd-yellow-9: #f8f48b;
  --antd-yellow-10: #fafab5;
  --antd-volcano-1: #2b1611;
  --antd-volcano-2: #441d12;
  --antd-volcano-3: #592716;
  --antd-volcano-4: #7c3118;
  --antd-volcano-5: #aa3e19;
  --antd-volcano-6: #d84a1b;
  --antd-volcano-7: #e87040;
  --antd-volcano-8: #f3956a;
  --antd-volcano-9: #f8b692;
  --antd-volcano-10: #fad4bc;
  --antd-geekblue-1: #131629;
  --antd-geekblue-2: #161d40;
  --antd-geekblue-3: #1c2755;
  --antd-geekblue-4: #203175;
  --antd-geekblue-5: #263ea0;
  --antd-geekblue-6: #2b4acb;
  --antd-geekblue-7: #5273e0;
  --antd-geekblue-8: #7f9ef3;
  --antd-geekblue-9: #a8c1f8;
  --antd-geekblue-10: #d2e0fa;
  --antd-gold-1: #2b2111;
  --antd-gold-2: #443111;
  --antd-gold-3: #594214;
  --antd-gold-4: #7c5914;
  --antd-gold-5: #aa7714;
  --antd-gold-6: #d89614;
  --antd-gold-7: #e8b339;
  --antd-gold-8: #f3cc62;
  --antd-gold-9: #f8df8b;
  --antd-gold-10: #faedb5;
  --antd-lime-1: #1f2611;
  --antd-lime-2: #2e3c10;
  --antd-lime-3: #3e4f13;
  --antd-lime-4: #536d13;
  --antd-lime-5: #6f9412;
  --antd-lime-6: #8bbb11;
  --antd-lime-7: #a9d134;
  --antd-lime-8: #c9e75d;
  --antd-lime-9: #e4f88b;
  --antd-lime-10: #f0fab5;
  --antd-colorText: rgba(255, 255, 255, 0.85);
  --antd-colorTextSecondary: rgba(255, 255, 255, 0.65);
  --antd-colorTextTertiary: rgba(255, 255, 255, 0.45);
  --antd-colorTextQuaternary: rgba(255, 255, 255, 0.25);
  --antd-colorFill: rgba(255, 255, 255, 0.18);
  --antd-colorFillSecondary: rgba(255, 255, 255, 0.12);
  --antd-colorFillTertiary: rgba(255, 255, 255, 0.08);
  --antd-colorFillQuaternary: rgba(255, 255, 255, 0.04);
  --antd-colorBgLayout: #000000;
  --antd-colorBgContainer: #141414;
  --antd-colorBgElevated: #1f1f1f;
  --antd-colorBgSpotlight: #424242;
  --antd-colorBorder: #424242;
  --antd-colorBorderSecondary: #303030;
  --antd-colorPrimaryBg: #111a2c;
  --antd-colorPrimaryBgHover: #112545;
  --antd-colorPrimaryBorder: #15325b;
  --antd-colorPrimaryBorderHover: #15417e;
  --antd-colorPrimaryHover: #3c89e8;
  --antd-colorPrimaryActive: #1554ad;
  --antd-colorPrimaryTextHover: #3c89e8;
  --antd-colorPrimaryText: #1668dc;
  --antd-colorPrimaryTextActive: #1554ad;
  --antd-colorSuccessBg: #162312;
  --antd-colorSuccessBgHover: #1d3712;
  --antd-colorSuccessBorder: #274916;
  --antd-colorSuccessBorderHover: #306317;
  --antd-colorSuccessHover: #306317;
  --antd-colorSuccessActive: #3c8618;
  --antd-colorSuccessTextHover: #6abe39;
  --antd-colorSuccessText: #49aa19;
  --antd-colorSuccessTextActive: #3c8618;
  --antd-colorErrorBg: #2c1618;
  --antd-colorErrorBgHover: #451d1f;
  --antd-colorErrorBorder: #5b2526;
  --antd-colorErrorBorderHover: #7e2e2f;
  --antd-colorErrorHover: #e86e6b;
  --antd-colorErrorActive: #ad393a;
  --antd-colorErrorTextHover: #e86e6b;
  --antd-colorErrorText: #dc4446;
  --antd-colorErrorTextActive: #ad393a;
  --antd-colorWarningBg: #2b2111;
  --antd-colorWarningBgHover: #443111;
  --antd-colorWarningBorder: #594214;
  --antd-colorWarningBorderHover: #7c5914;
  --antd-colorWarningHover: #7c5914;
  --antd-colorWarningActive: #aa7714;
  --antd-colorWarningTextHover: #e8b339;
  --antd-colorWarningText: #d89614;
  --antd-colorWarningTextActive: #aa7714;
  --antd-colorInfoBg: #111a2c;
  --antd-colorInfoBgHover: #112545;
  --antd-colorInfoBorder: #15325b;
  --antd-colorInfoBorderHover: #15417e;
  --antd-colorInfoHover: #15417e;
  --antd-colorInfoActive: #1554ad;
  --antd-colorInfoTextHover: #3c89e8;
  --antd-colorInfoText: #1668dc;
  --antd-colorInfoTextActive: #1554ad;
  --antd-colorBgMask: rgba(0, 0, 0, 0.45);
  --antd-colorWhite: #fff;
  --antd-fontSizeSM: 12;
  --antd-fontSizeLG: 16;
  --antd-fontSizeXL: 20;
  --antd-fontSizeHeading1: 38;
  --antd-fontSizeHeading2: 30;
  --antd-fontSizeHeading3: 24;
  --antd-fontSizeHeading4: 20;
  --antd-fontSizeHeading5: 16;
  --antd-lineHeight: 1.5714285714285714;
  --antd-lineHeightLG: 1.5;
  --antd-lineHeightSM: 1.6666666666666667;
  --antd-lineHeightHeading1: 1.2105263157894737;
  --antd-lineHeightHeading2: 1.2666666666666666;
  --antd-lineHeightHeading3: 1.3333333333333333;
  --antd-lineHeightHeading4: 1.4;
  --antd-lineHeightHeading5: 1.5;
  --antd-sizeXXL: 48;
  --antd-sizeXL: 32;
  --antd-sizeLG: 24;
  --antd-sizeMD: 20;
  --antd-sizeMS: 16;
  --antd-size: 16;
  --antd-sizeSM: 12;
  --antd-sizeXS: 8;
  --antd-sizeXXS: 4;
  --antd-controlHeightSM: 24;
  --antd-controlHeightXS: 16;
  --antd-controlHeightLG: 40;
  --antd-motionDurationFast: 0.1s;
  --antd-motionDurationMid: 0.2s;
  --antd-motionDurationSlow: 0.3s;
  --antd-lineWidthBold: 2;
  --antd-borderRadiusXS: 2;
  --antd-borderRadiusSM: 4;
  --antd-borderRadiusLG: 8;
  --antd-borderRadiusOuter: 4;
  --antd-colorLink: #1668dc;
  --antd-colorLinkHover: #15417e;
  --antd-colorLinkActive: #1554ad;
  --antd-colorFillContent: rgba(255, 255, 255, 0.12);
  --antd-colorFillContentHover: rgba(255, 255, 255, 0.18);
  --antd-colorFillAlter: rgba(255, 255, 255, 0.04);
  --antd-colorBgContainerDisabled: rgba(255, 255, 255, 0.08);
  --antd-colorBorderBg: #141414;
  --antd-colorSplit: rgba(253, 253, 253, 0.12);
  --antd-colorTextPlaceholder: rgba(255, 255, 255, 0.25);
  --antd-colorTextDisabled: rgba(255, 255, 255, 0.25);
  --antd-colorTextHeading: rgba(255, 255, 255, 0.85);
  --antd-colorTextLabel: rgba(255, 255, 255, 0.65);
  --antd-colorTextDescription: rgba(255, 255, 255, 0.45);
  --antd-colorTextLightSolid: #fff;
  --antd-colorHighlight: #dc4446;
  --antd-colorBgTextHover: rgba(255, 255, 255, 0.12);
  --antd-colorBgTextActive: rgba(255, 255, 255, 0.18);
  --antd-colorIcon: rgba(255, 255, 255, 0.45);
  --antd-colorIconHover: rgba(255, 255, 255, 0.85);
  --antd-colorErrorOutline: rgba(238, 38, 56, 0.11);
  --antd-colorWarningOutline: rgba(173, 107, 0, 0.15);
  --antd-fontSizeIcon: 12;
  --antd-controlOutlineWidth: 2;
  --antd-controlInteractiveSize: 16;
  --antd-controlItemBgHover: rgba(255, 255, 255, 0.08);
  --antd-controlItemBgActive: #111a2c;
  --antd-controlItemBgActiveHover: #112545;
  --antd-controlItemBgActiveDisabled: rgba(255, 255, 255, 0.18);
  --antd-controlTmpOutline: rgba(255, 255, 255, 0.04);
  --antd-controlOutline: rgba(0, 60, 180, 0.15);
  --antd-fontWeightStrong: 600;
  --antd-opacityLoading: 0.65;
  --antd-linkDecoration: none;
  --antd-linkHoverDecoration: none;
  --antd-linkFocusDecoration: none;
  --antd-controlPaddingHorizontal: 12;
  --antd-controlPaddingHorizontalSM: 8;
  --antd-paddingXXS: 4;
  --antd-paddingXS: 8;
  --antd-paddingSM: 12;
  --antd-padding: 16;
  --antd-paddingMD: 20;
  --antd-paddingLG: 24;
  --antd-paddingXL: 32;
  --antd-paddingContentHorizontalLG: 24;
  --antd-paddingContentVerticalLG: 16;
  --antd-paddingContentHorizontal: 16;
  --antd-paddingContentVertical: 12;
  --antd-paddingContentHorizontalSM: 16;
  --antd-paddingContentVerticalSM: 8;
  --antd-marginXXS: 4;
  --antd-marginXS: 8;
  --antd-marginSM: 12;
  --antd-margin: 16;
  --antd-marginMD: 20;
  --antd-marginLG: 24;
  --antd-marginXL: 32;
  --antd-marginXXL: 48;
  --antd-boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --antd-boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-screenXS: 480;
  --antd-screenXSMin: 480;
  --antd-screenXSMax: 575;
  --antd-screenSM: 576;
  --antd-screenSMMin: 576;
  --antd-screenSMMax: 767;
  --antd-screenMD: 768;
  --antd-screenMDMin: 768;
  --antd-screenMDMax: 991;
  --antd-screenLG: 992;
  --antd-screenLGMin: 992;
  --antd-screenLGMax: 1199;
  --antd-screenXL: 1200;
  --antd-screenXLMin: 1200;
  --antd-screenXLMax: 1599;
  --antd-screenXXL: 1600;
  --antd-screenXXLMin: 1600;
  --antd-boxShadowPopoverArrow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  --antd-boxShadowCard: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  --antd-boxShadowDrawerRight: -6px 0 16px 0 rgba(0, 0, 0, 0.08),
    -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerLeft: 6px 0 16px 0 rgba(0, 0, 0, 0.08),
    3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerUp: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowDrawerDown: 0 -6px 16px 0 rgba(0, 0, 0, 0.08),
    0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
  --antd-boxShadowTabsOverflowLeft: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowRight: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowTop: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --antd-boxShadowTabsOverflowBottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--antd-colorBgContainer);
  font-family: var(--antd-fontFamily);
  color: var(--antd-colorText);
}

*,
::before,
::after {
  border-color: var(--antd-colorBorderSecondary);
}
