# vercel
#   https://vercel.com/hiogawa/ytsub-v3-hiro18181/settings/environment-variables
#   grep APP_ .env.staging | bash scripts/env-vercel.sh preview
#   grep APP_ .env.production | bash scripts/env-vercel.sh production

# mysql (https://app.planetscale.com)
APP_MYSQL_HOST=xxx
APP_MYSQL_DATABASE=xxx
APP_MYSQL_USER=xxx
APP_MYSQL_PASSWORD=xxx
APP_MYSQL_SSL=true

# cookie session (openssl rand -hex 32)
APP_SESSION_SECRET=d30eed9c045e6f54377860da2a8384341d3125623b3a5fa02c88d8bc3753ec17

# recaptcha (https://www.google.com/recaptcha/admin)
APP_RECAPTCHA_CLIENT_KEY=xxx
APP_RECAPTCHA_SERVER_KEY=xxx
